MYSQL_ROOT_PASSWORD=123456
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=diandong5k56la1f
DB_USER=root
DB_PASSWORD=123456
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=123456
REDIS_DB=1
EMAIL_USE_TLS=false
EMAIL_USE_SSL=true
EMAIL_HOST=smtp.qq.com
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
CONTAINER_TZ=Asia/Shanghai
