django==3.2.25
django-threadlocals==0.10
pymysql==1.1.1
mysql-connector-python==9.6.0
click==8.3.2
requests==2.33.1
xlrd==1.2.0
Flask==2.2.5
cryptography==42.0.8
django-cors-headers==3.14.0
jieba==0.42.1
pandas==1.5.3
numpy==1.26.4
matplotlib==3.8.4
scikit-learn==1.4.2
SQLAlchemy==1.4.54
joblib==1.5.3
seaborn==0.13.2

hdfs==2.7.3
paramiko==3.4.0
pyspark==3.5.1
pycryptodome==3.23.0
lxml==6.0.2
cssselect==1.4.0
