<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer">
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />  
    <!-- element的css -->
    <link href="http://codegen.caihongy.cn/20251017/2a1ee0025b274c37b009a0e248c4a522.css" rel="stylesheet" />
    <!-- element的中文包 -->
    <script src="http://codegen.caihongy.cn/20251017/f002072196c14105b4a96a074169c742.js"></script>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <title>管理端-电动汽车行车日志分析系统的设计与实现</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
    <!-- echarts -->
    <script src="http://codegen.caihongy.cn/20251017/0e340dddeaab4c599034b93bc2b92629.js" defer></script>
    <!-- 词云 -->
    <script src="http://codegen.caihongy.cn/20251017/ddf6df220a154df9baf4fe83fa418d39.js" defer></script>
  </body>
</html>
