.register {
  background: url(http://codegen.caihongy.cn/20251209/ae706604bc7d4c83b95238e2c6d2b2ce.jpg) no-repeat right center / cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  /* 文本框 高度变量 */
  --ab-input-height-: 44px;

  /* 表单盒子 */
  .registerform {
    width: 655px;
    height: auto;
    padding: 20px 0;
    font-size: 16px;
    margin-left: 96px;
  }

  .el-textarea {
    color: #C3C7CC !important;
    width: 100%;
    box-shadow: none !important;

  }
    .el-textarea .el-textarea__inner {
    padding: 11px!important;
  }

  /* 媒体查询 */
  @media screen and (max-width: 768px) {
    .registerform {
      width: 100%;
    }
  }

  /* 表单盒子：二级 */
  .registerform-wrapper {
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  /* 标题 */
  .login-tip {
    padding: 0;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    order: 2;
    color: #fff;
    display: none;
  }


  /* 标题 */
  .title-box {
    width: 100%;
    padding: 0;
    color: #1B2871;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    order: 1;

  }

  /* 表单项 */
  .el-form-item {
    border-radius: 10px;
    padding: 0;
    margin: 0 auto 20px auto;
    height: auto;
    width: 100%;
    order: 3;
  }

  /* 标签 */
  .el-form-item__label {
    display: none;
    color: #000;
    width: 120px;
    height: var(--ab-input-height-);
    line-height: var(--ab-input-height-);
  }

  /* 提示语 */
  .el-textarea__inner,
  .el-input__wrapper {

    color: #C3C7CC !important;
  }

  .el-form-item__content .el-input__wrapper,
  .el-form-item__content .el-select__wrapper,
  .el-textarea__inner,
  .ql {
    border: 0 !important;
  }

  .el-input__wrapper,
  .el-input__wrapper,
  .el-select__wrapper,
  .el-textarea__inner,
  .el-textarea__inner,
  .el-form-item__content,
  .el-input__wrapper {
    background: none;
    border-width: 0 !important;
    padding: 0 !important;
    display: flex;
    box-shadow: none !important;
  }

  .ql {
    border-width: 0 !important;
    color: #C3C7CC !important;
    width: 100%;
    background: #fff;
    border: 0px solid #DADFE6 !important;
    box-shadow: none !important;
  }

  /* 输入框  */
  .el-input__inner {
    color: #C3C7CC;
    width: 100%;
    padding: 1px 11px;
    background: #FFFFFF;
    border: 1px solid #DADFE6 !important;
    border-radius: 4px;

  }

  /* 通用输入框 */
  .el-form-item__content {
    line-height: var(--ab-input-height-);
  }

  /* 文本框 */
  .el-input {
    --el-input-height: var(--ab-input-height-);
    font-size: 16px;
    width: 100%;
    background: none!important;
  }

  .el-textarea__inner,
  .el-input__wrapper {
    box-shadow: none;
    background: #FFFFFF;
    border: 1px solid #DADFE6 !important;
    border-radius: 4px;
   
  }

  /* 下拉 */
  .el-select {
    line-height: 44px;
    height: 44px;
    font-size: 18px;
    padding: 5px 11px;
    color: #C3C7CC !important;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DADFE6 !important;
    border-radius: 4px;
  }

  .el-select__placeholder {
    color: #C3C7CC !important;
  }

  /* 密码的清除和眼睛图标 */
  .el-input .el-input__clear,
  .el-input .el-input__password {}

  /* 文件 */
  .yyfile {
   background: #fff;
   border-radius: 14px;
    .el-upload-list__item-name {
      color: #bbb4b4;
      background: #fff;
    }
  }

  /* 图片 */
  .el-upload-list--picture-card {
    --el-upload-list-picture-card-size: 80px;
  }

  .el-upload--picture-card {
    --el-upload-picture-card-size: 80px;
  }

  /* 上传 */
  .el-upload{
    background: #fff;
    border: 1px solid #DADFE6;
    padding: 20px;
    border-radius: 10px;
  }
  .el-upload .el-icon{
    font-size: 20px;
  }
  .el-upload-list .el-upload-list__item.is-success{
    background: #fff;
    border-radius: 4px;   
  }

  /* 人脸识别 */
  .face-form-item {
    display: flex;

    img {
      width: 102px;
      height: 102px;
      overflow: hidden;
      border-radius: 8px;
      position: relative;
      display: inline-block;
      border: 1px solid #d9d9d9;
    }
  }

  /* 邮箱注册 */
  .el-statistic__content {
    font-size: 14px;
  }

  /* 按钮总盒子 */
  .btn-wrapper {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 4;
    width: 100%;

  }

  /* 注册按钮 */
  .register-btn {
    border: 1px solid transparent;
    border-radius: 24px;
    padding: 4px 15px;
    margin: 0 0 20px 0;
    width: 383px;
    color: #fff;
    font-size: 24px;
    height: 48px;
    background: #97CEFA;
    &:hover {
      opacity: 0.8;
      background: #5B73EF;
    }
  }

  /* 发送验证码 */
  .el-input-group__append {
    cursor: pointer;
    margin: 0 0 0 10px;
    display: flex;
    border-radius: 6px;
    flex: 0 0 auto;
    background: #5B73EF;
    width: 120px;
    color: #fff;
    justify-content: center;
    align-items: center;
    user-select: none;
     border-width:0!important;
     gap: 4px;
  }

}


/* 登录按钮 */
.login-btn {
  border-radius: 24px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
width: 100%;
  color: #52459F;
  background: none;
  border: 0;

  &:hover {
    color: var(--btn2-font-hover-color-);
      background: none;
  }
}